/*generali*/

html {
    font-family: Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    height: 100%;
    width: 80%;
    max-width: 1180px;
    margin: auto;
}



.row::after {
    content: "";
    display: table;
    clear: both;
}

.bottone {
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 40px;
    text-decoration: none;
    padding: 8px 16px;
}

.bottone .bottone-big {
    padding: 16px 32px;

}

.bottone.bottone-black {
    background-color: #222;
    color: white;

}

/*debug*/

.debug {
    height: 500px;
}

.debug .conteiner {
    border: solid 1px black;
    width: 80%;
}

/*header*/

header {
    background-color:#255EE9;
    height: 100px;
    line-height: 100px;
}
#logo {
    float: left;
    width: 15%;
}

#logo img{
    vertical-align: middle;

}
header nav {
    float: left;
    width: 70%;
}

header nav ul {
    text-align: center;
}

header nav ul li {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0px 20px;
}


#login {
    float: right;
    width: 15%;
    text-align: right;
}

#login .bottone {
    display: inline;
}
/*jumbotron*/

#jumbotron {
    background-image: url("..//img/jumbo.png");
    min-height: 500px;
    background-size: cover;
    
    background-position: center;
}
#jumbotron .conteiner {
    max-width: 600px;
    text-align: center;
}

#jumbotron h1 {
    padding-top: 100px;
    margin-bottom: 40px;
    color: white;
    font-size: 40px;
}
#jumbotron p {
    margin-bottom: 25px;
    color: white;
}

.fas {
    margin-right: 10px;
}


/*main*/

main {
    height: 500px;
    background-color: rgb(241, 243, 246);
}

.card-left {
    width: 60%;
    height: 500px;
    float: left;
    padding: 10px 10px;
}



.card-right {
    width: 33%;
    padding-top: 30px;
    float: right;
}

.row .card-right h2 {
    padding: 10px 10px;
    font-size: 40px;
}

.row .card-right p {
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 18px;
}






    
    




/*footer*/

footer {
    background-color: rgb(116, 109, 109);
}


